
{if $customer['id_default_group'] == Configuration::get('mjtanexpert_expert_group')}
<a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="?fc=module&module=mjtanexpert&controller=saldo">
          <span class="link-item">
            <i class="material-icons">attach_money</i>
            Prowizje z programu afiliacyjnego
          </span>
        </a>
    
    <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="?fc=module&module=mjtanexpert&controller=experci">
          <span class="link-item">
            <i class="material-icons">people</i>
            Experci
          </span>
        </a>
       <a class="col-lg-4 col-md-6 col-sm-6 col-xs-12" href="?fc=module&module=mjtanexpert&controller=invoice">
          <span class="link-item">
            <i class="material-icons">sync</i>
            Wypłać prowizje
          </span>
        </a>
{/if}