<h3>Konfiguracja</h3>
{for $wariant=1 to $liczba_wariantow}
    
    <label>Wariant {$wariant}</label>
<select name="product_{$id_product}_wariant_{$wariant}" class='form-control'>
    {foreach from=$tablica_produktow key=i item=produkt}
        {*{if $product[*}
        {if $produkt["id_category"] == MjWariant::pobierzKategorieWariant($id_product, $wariant)}
    <option data-test="{MjWariant::pobierzKategorieWariant($id_product, $wariant)}" value='{$produkt["id_product"]}' data-category="{$produkt["id_category"]}">{$produkt["name"]}</option>
    {/if}
    {/foreach}
</select>
    {/for}
    <input type="hidden" name="liczba_wariantow" value="{count($tablica_produktow)}"/>
    <input type="hidden" name="id_product_wariant" value="{$id_product}" />